<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">
	   {% block title %}
	   <title> epitopepredict results</title>
	   {% end %}
		<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.css"
			 rel="stylesheet" type="text/css">
		<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.9.min.css"
			 rel="stylesheet" type="text/css">
	 <link rel="shortcut icon" href="static/favicon.ico">
	 <link rel="stylesheet" href="{{ static_url("custom.css") }}">

		<script src="static/sorttable.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.9.min.js"></script>
		<script	src="http://cdn.pydata.org/bokeh/release/bokeh-compiler-0.12.9.min.js"></script>
	</head>

	<body>
		<div class="divheader">
			 {% block heading %}
			 <h3>epitopepredict</h3>
			 {% end %}
			 <span><a href='/'>home</a></span>
			 <span><a href='/global?path={{path}}'>all results</a></span>
			 <span><a href='/sequence'>sequence view</a></span>
			 <span><a href='/makeconfig'>make config</a></span>
			 <span><a href='https://github.com/dmnfarrell/epitopepredict/wiki/Web-Application'>help</a></span>
		</div>

	{% block main %}
	{% end %}

	</body>

	<!--<div class="footer">
		<a href="https://github.com/dmnfarrell/epitopepredict/wiki">help page</a>
	</div> -->

</html>
