{% extends "base.html" %}

{% block main %}

	  <div class="main">
		<form action="/global">
			{{ form.path.label }}
			{{ form.path }}
			{{ form.cutoff.label }}
			{{ form.cutoff }}
			{{ form.n.label }}
			{{ form.n }}
			{{ form.cutoff_method.label }}
			{{ form.cutoff_method }}
			{{ form.view.label }}
			{{ form.view }}
			{{ form.cached.label }}
			{{ form.cached }}
			<input type="submit" class="button">
		</form>

		{%if status == 0 %}
		<div class="warning">{{ msg }}</div>
		{% else %}
		<div class="floatleft">
			{{ tables }}
		</div>
		{% end %}
	  </div>

{% end %}