{% extends "base.html" %}

{% block main %}
	<div class="main">
		<div class="floatleft">
		<table class="largetable">
			<tr><td>
			<a href="/summary" class="largebtn">
			<span>Summary</span>
			</a> </td>
			<td>
			<p>Summary view shows prediction results for multiple sequences together. Suitable if
			you have several similar length sequences and want to compare them.</p></td>
			</tr>
			<tr><td>
			<a href="/sequence" class="largebtn">
			<span>Sequence</span>
			</a>
			<td>
			<p>Display results for a single sequence i.e. a protein</p></td>
			</tr>
			<tr><td>
			<a href="/sequence" class="largebtn">
			<span>Genome</span>
			</a>
			<td>
			<p>Analysis results for sequences within a genome.</p></td>
			</tr>
		</table>
		</div>
	</div>

{% end %}
