{% extends "base.html" %}

{% block main %}
	<div class="main">
		<div>
		<table class="largetable">
			<tr><th>
			<a href="/global" class="largebtn">
			<span>All Results</span>
			</a> </th>
			<td>
			<p>Global view showing prediction results for all sequences. Suitable if
			you have several similar length sequences and want to compare them.</p></td>
			</tr>
			<tr><th>
			<a href="/sequence" class="largebtn">
			<span>Sequence</span>
			</a></th>
			<td>
			<p>Display detailed results for a single sequence from multiple alleles and prediction
				methods</p></td>
			</tr>
			<tr><th>
			<a href="/makeconfig" class="largebtn">
			<span>Config </span>
			</a></th>
			<td>
			<p>Make a config file to run predictions. Then view the results in this web app.</p></td>
			</tr>

		</table>
		</div>
	</div>

{% end %}
