{% extends "base.html" %}

{% block main %}

	  <div class="main">
		<div class="floatleft">
		This form creates a config file for running binding predictions.

	  <form action="/makeconfig">
		  <div class="configform">
			 <table class="configform">
			  <tr>
				<td>{{ form.path.label }}</td>
				<td>{{ form.path }}</td>
			 </tr>
				<tr>
			    <td>{{ form.predictors.label }}</td>
				<td>{{ form.predictors }}
			 </tr>
			  <tr>
			    <td>{{ form.mhc1_length.label }}</td>
			    <td>{{ form.mhc1_length }}</td>
		      </tr>
			  <tr>
			    <td>{{ form.mhc2_length.label }}</td>
			    <td>{{ form.mhc2_length }}</td>
		     </tr>
			  <tr>
			    <td>{{ form.sequence_file.label }}</td>
			    <td>{{ form.sequence_file }}</td>
		     </tr>
			  <tr>
			    <td>{{ form.overwrite.label }}</td>
			    <td>{{ form.overwrite }}</td>
		     </tr>
			  <tr>
			    <td>{{ form.cpus.label }}</td>
			    <td>{{ form.cpus }}</td>
		     </tr>
 		    </table>
			 </div>

		  <div class="configform">
			  <table class="configform">
			   <tr>
				 <td>{{ form.iedbmhc1_path.label }}</td>
				 <td>{{ form.iedbmhc1_path }}</td>
			  </tr>
			  </table>
			</div>

		  <div class="configform">
				<table class="configform">
					<tr>
				<td>{{ form.presets.label}}</td>
				<td>{{ form.presets}}</td>
				<td>{{ form.mhc1_alleles.label }}</td>
				<td>{{ form.mhc1_alleles }}</td>
				<td>{{ form.mhc2_alleles.label }}</td>
				<td>{{ form.mhc2_alleles}}</td></tr>
				</table>
				</div>

			<input type="submit" class="button", value="Update">
		</form>
	  </div>

		<div class="floatright">
			<p>
				This page helps you generate a configuration file that can be used to then call the
				command line interface to generate epitope predictions.
				Select one or more predictors and appropriate alleles which are then run
				for all the proteins in the chosen genome/sequence file. An entire proteome using
				multiple methods may take some time to process. Selection of alleles should always
				be tailored to your own requirements.
			</p>
			<div class="monospace">
				{{conftext}}
			</div>
			<p>You can save the text above to a configuration file and then use it to run
			<b class="monospace">epitopepredict -r -c conffile</b> </p>
		</div>

	  </div>

{% end %}