{% extends "base.html" %}

{% block main %}

	  <div class="main">
		<div class="floatleft">
		This form creates a config file for running binding predictions.

		<form action="/makeconfig">
		  <div class="configform">
			 <table class="configform">
			  <tr>
				<td>{{ form.path.label }}</td>
				<td>{{ form.path }}</td>
			 </tr>
				<tr>
			    <td>{{ form.predictors.label }}</td>
				<td>{{ form.predictors }}
			 </tr>
			  <tr>
			    <td>{{ form.mhc1_length.label }}</td>
			    <td>{{ form.mhc1_length }}</td>
		      </tr>
			  <tr>
			    <td>{{ form.mhc2_length.label }}</td>
			    <td>{{ form.mhc2_length }}</td>
		      </tr>
			  <tr>
			    <td>{{ form.sequence_file.label }}</td>
			    <td>{{ form.sequence_file }}</td>
		      </tr>
			  <tr>
			    <td>{{ form.overwrite.label }}</td>
			    <td>{{ form.overwrite }}</td>
		      </tr>
		  </table>
			 </div>

		  <div class="configform">
				<table class="configform">
					<tr>
				<td>{{ form.presets.label}}</td>
				<td>{{ form.presets}}</td>
				<td>{{ form.mhc1alleles.label }}</td>
				<td>{{ form.mhc1alleles }}</td>
				<td>{{ form.mhc2alleles.label }}</td>
				<td>{{ form.mhc2alleles}}</td></tr>
				</table>
				</div>

			<input type="submit" class="button">
		</form>
	  </div>
		<div class="floatright">
			{{ helptext }}
			<p><a>Configuration file is updated below. Save this and then run
			<b>epitopepredict -r -c conffile</b> </a> </p>
			<div class="monospace">
				{{conftext}}
			</div>
		</div>

	  </div>

{% end %}